{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block ExtraHead %}
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap-datepicker.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/template/template.css' %}" rel="stylesheet"/>
{% endblock %}

{% block Content %}
    <form method="POST" enctype="multipart/form-data" id="newTemplateForm">
        {% csrf_token %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><h5>Instruction Type</h5></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 d-flex">Type of Instruction*:</div>
                        {% bootstrap_field template_form.type size='small' form_group_class='form-group col-md-6 p-0' show_label=False %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="card">
                <div class="card-header"><h5>Common Conditions of Interest</h5></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 rowTitle" >Common Conditions of Interest*:</div>
                        {% for checkbox in template_form.common_condition %}

                        {% endfor %}
                        {% bootstrap_field template_form.common_condition size='small' form_group_class='form-group col-md-10 p-0 commonConditions' show_label=False %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="card">
                <div class="card-header"><h5>Additional Conditions of Interest</h5></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 rowTitle">Addition Conditions of Interest*:</div>
                        {% bootstrap_field template_form.addition_condition size='small' form_group_class='form-group col-md-6 p-0' show_label=False %}
                        {{ template_form.addition_condition_title }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="card">
                <div class="card-header"><h5>Additional Questions</h5></div>
                <div class="card-body">
                    <div class="row" id="questions_block">
                        {{ addition_question_formset.management_form }}
                        <table border="0" cellpadding="10" cellspacing="0" class="table">
                            <thead>
                                <tr>
                                    <th>Questions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for form in addition_question_formset.forms %}
                                <tr>
                                    <td>{{ form.question }}</td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="card">
                <div class="card-header"><h5>Save Template</h5></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 rowTitle">Name of Template</div>
                        <div class="from-group col-md-6 p-0">
                            {% bootstrap_field template_form.template_title show_label=False placeholder='' %}
                        </div>
                    </div>
                    <div class="mt-4">
                        <button class="btn btn-primary btn-lg templateNewBtn" id="btn_save">Save</button>
                        <button class="btn btn-danger btn-lg templateNewBtn rightBtn" id="btn_discard">Discard</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block Script %}
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#newTemplateForm tbody tr').formset({
                'deleteText': 'X remove',
                'addText': '+ Add Another',
                'addCssClass': 'btn btn-primary',
                'deleteCssClass': 'btn btn-danger'
            });
            $('.radio').addClass('d-inline');
            $('#id_common_condition').addClass('row px-2');
            $('.checkbox').addClass('d-inline col-md-3');
        });

        $('#id_addition_condition').select2({
            minimumInputLength: 3,
            width: 500,
            multiple: true,
            ajax: {
                url: "{% url 'snomedct:query_snomed' %}",
                data: function (params) {
                    let query = {
                        keyword: params.term,
                    };
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    }
                }
            }
        });

        var $selectAllButton = $('<button class="btn btn-default btn-xs" id="selectAllButton" type="button">Select All</button>');
        var $deSelectAllButton = $('<button class="btn btn-default btn-xs" id="deSelectAllButton" type="button">Deselect All</button>');
        $('#id_common_condition').append([$selectAllButton, $deSelectAllButton]);
        
        $('#selectAllButton').on('click', function () {
            $('.commonConditions input:checkbox').prop('checked', true);
        });

        $('#deSelectAllButton').on('click', function () {
            $('.commonConditions input:checkbox').prop('checked', false);
        });
    </script>
{% endblock %}