{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block ExtraHead %}
    <link rel="stylesheet" href="{% static 'css/dataTables/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/template/template.css' %}">
{% endblock %}

{% block Content %}
        <div class="row header-group">
            <div class="col-md-3">
                <a href="{% url 'template:new_template' %}" class="btn btn-primary" id="addUserButton">New Template</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% render_table table 'django_tables2/bootstrap.html' %}
                {% bootstrap_pagination  page=table.page pages_to_show=10 size='small' %}
            </div>
        </div>

{% endblock %}

{% block Script %}
    <script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $(document).ready(function () {
          $('#templatesTable').DataTable();
        });
    </script>
{% endblock %}
