{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block ExtraHead %}
    <link rel="stylesheet" href="{% static 'css/dataTables/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/instructions/pipeline_views_instructions.css' %}">
    <link href="{% static 'css/accounts/view_account.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/instructions/new_instruction.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/pretty-checkbox.min.css' %}">
{% endblock %}

{% block Content %}
    <div class="container-fluid">
        <div class="card-deck instruction">
            <div class="col-12">
                <div class="card contactPreferences mt-2">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5><i class="fas fa-file-invoice-dollar"></i>&nbsp;&nbsp;Invoicing</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-12">
                            {% render_table invoicing_table 'django_tables2/bootstrap.html' %}
                            {% bootstrap_pagination  parameter_name='page_t2' page=invoicing_table.page pages_to_show=5 size='small' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-deck instruction mt-2">
            <div class="col-12">
                <div class="card contactPreferences mt-2">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5><i class="fas fa-chart-line"></i>&nbsp;&nbsp;Client fee structure</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <label class="text-mute">Client fee structure Block.</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-deck instruction mt-2">
            <div class="col-12">
                <div class="card contactPreferences mt-2">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5><i class="fas fa-chart-bar"></i>&nbsp;&nbsp;GP fee structure</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <label class="text-mute">GP fee structure Block.</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-deck instruction mt-2">
            <div class="col-12">
                <div class="card contactPreferences mt-2">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5><i class="fas fa-comment-dots"></i>&nbsp;&nbsp;Payment Logs</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <label class="text-mute">Payment Logs Block.</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block Script %}
    <script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/instructions/instruction_views.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.pager').hide();
        });
    </script>
    
{% endblock %}