{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}


{% block ExtraHead %}
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap-datepicker.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/instructions/consent_contact.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'assets/kartik-v-boostrap-fileinput/css/fileinput.css' %}">
    <link rel="stylesheet" href="{% static 'assets/kartik-v-boostrap-fileinput/themes/explorer-fas/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/intlTelInput.min.css' %}">
    <script src="{% static 'assets/kartik-v-boostrap-fileinput/js/fileinput.js' %}"></script>
    <script src="{% static 'assets/kartik-v-boostrap-fileinput/js/locales/LANG.js' %}"></script>
    <script src="{% static 'assets/kartik-v-boostrap-fileinput/themes/fas/theme.js' %}"></script>
{% endblock %}

{% block Content %}
    <div class="card-deck instruction">        
        <form method="POST" id="consentContactForm" enctype="multipart/form-data" class="col-md-12 px-0">
            {% csrf_token %}
            <div class="col-md-12">
                <div class="card InstructionPatientForm">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Patient</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="row col-md-6">
                                <div class="col-md-3 rowTitle">Name*:</div>
                                {% bootstrap_field patient_form.patient_title size='small' form_group_class='form-group col-md-1 p-0'%}
                                {% bootstrap_field patient_form.patient_first_name size='small' form_group_class='form-group-plaintext  col-md-4 px-2' %}
                                {% bootstrap_field patient_form.patient_last_name size='small' form_group_class='form-group col-md-4 px-1' %}
                            </div>
                            <div class="row col-md-6">
                                <div class="col-md-2 rowTitle">Date of Birth*:</div>
                                {% bootstrap_field patient_form.patient_dob size='small' form_group_class='form-group col-md-10 pt-4 mt-1 dob' show_label=False %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="row col-md-6">
                                <div class="col-md-3 rowTitle">Address*:</div>
                                {% bootstrap_field patient_form.patient_postcode size='small' form_group_class='form-group col-md-3 p-0 ' %}
                                {% bootstrap_field patient_form.patient_address_number size='small' form_group_class='form-group col-md-6 px-1' placeholder='' %}
                            </div>
                            <div class="row col-md-6">
                                <div class="col-md-2 rowTitle">NHS #:</div>
                                {% bootstrap_field patient_form.patient_nhs_number size='small' form_group_class='form-group col-md-10 pt-4 mt-1' show_label=False placeholder='' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <input type="hidden" name="next_step" id="id_next_step" value="" />
                <div class="card">
                    <div class="card-header"><h5>Consent and contact information</h5></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row offset-md-1 col-md-10">
                                    <h6>SARS Request</h6>
                                </div>
                                <div class="row offset-md-1 col-md-10 mt-4">
                                    <h6>Required if initiated via third party</h6>
                                </div>
                                <div class="row mt-2">
                                <div class="offset-md-1 col-md-10 mt-4">
                                        <div class="form-group">
                                            <div class="file-loading">
                                                <input type="hidden" name="sars_consent_loaded" id="id_sars_consent_loaded" />
                                                {% bootstrap_field sars_consent_form.sars_consent show_label=false %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row offset-md-1 col-md-10">
                                    <h6>MDX Dual Consent</h6>
                                </div>
                                <div class="row offset-md-1 col-md-10 mt-1">
                                    <button class="btn btn-primary btn-lg w-100" id="downloadBtn">
                                        Print Pre-Populated Consent Form
                                    </button>
                                </div>
                                <div class="row mt-4">
                                    <div class="offset-md-1 col-md-10 mt-1">
                                        <div class="form-group">
                                            <div class="file-loading">
                                                <input type="hidden" name="mdx_consent_loaded" id="id_mdx_consent_loaded" />
                                                {% bootstrap_field mdx_consent_form.mdx_consent show_label=false %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row offset-md-1 col-md-10">
                                    <h6>Contact information</h6>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-3 rowTitle">Email</div>
                                    {% bootstrap_field patient_form.patient_email size='small' form_group_class='col-md-8' show_label=false placeholder='' %}
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-3 rowTitle">Confirm Email</div>
                                    <div class="col-md-8"><input type="email" id="confirm_email" class="form-control form-control-sm" /></div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-3 rowTitle">Mobile Phone</div>
                                    {% bootstrap_field patient_form.patient_telephone_mobile size='small' form_group_class='col-md-8' show_label=false placeholder='' %}
                                    {% bootstrap_field patient_form.patient_telephone_code %}
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-3 rowTitle">Alternate Phone(optional)</div>
                                    {% bootstrap_field patient_form.patient_alternate_phone size='small' form_group_class='col-md-8' show_label=false placeholder='' %}
                                    {% bootstrap_field patient_form.patient_alternate_code %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
   </div>
   <div id="emailDialog1" class="emailModal well">
       <h5><i class="fas fa-exclamation-triangle"></i>Warning</h5>
       <p>That doesn't look like a valid email address</p>
       <button class="emailDialog1_close rightBtn btn btn-sm btn-default">Close</button>
   </div>
   <div id="emailDialog2" class="emailModal well">
        <h5><i class="fas fa-exclamation-triangle"></i>Warning</h5>
        <p>Those email addresses don't match</p>
        <button class="emailDialog2_close rightBtn btn btn-sm btn-default">Close</button>
    </div>
    <div class="row ml-1 mt-4 ">
        <div class="col-md-12">
            <button class="btn btn-primary btn-lg" id="backButton"><i class="fas fa-chevron-left"></i > Go back</button>
            {% if perms.instructions.process_sars %}
                <button class="btn btn-primary btn-lg" id="proceedBtn">Proceed to Report <i class="fas fa-chevron-right"></i>
                </button>
            {% endif %}
            </button>
            <button class="btn btn-primary btn-lg rightBtn mr-4" id="saveBtn">Save and Return to Pipeline</button>
            {% if perms.instructions.reject_sars %}
                <button class="btn btn-danger btn-lg dropdown-toggle mr-1 rightBtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reject Instruction
                </button>
            {% endif %}
            <div class="dropdown-menu dropdown-menu-right reject" aria-labelledby="dropdownMenuButton">
                {% for reject_type in reject_types %}
                    {% if instruction.type != 'SARS' or reject_type.1 != 'The consent form is invalid' %}
                        <div id="rejected_reason-{{reject_type.0}}" data-toggle="modal" data-target="#modal-reject" class="dropdown-item" onclick="updateRejectType(this);">
                            {{reject_type.1}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="modal-reject" id="modal-reject">
        <div class="modal-dialog modal-lg">
            <form action="{% url 'medicalreport:reject_request' instruction.id %}" method="POST" enctype="multipart/form-data" id="rejectRequestForm">
                {% csrf_token %}
                <input type="hidden" id="consent_reject" name="reject_patient_email" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Reject note</h3>
                    </div>
                    <div class="modal-body">
                        <textarea name="rejected_note"></textarea>
                        <input name="rejected_reason" id="rejected_reason" type="hidden"/>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger reject-btn">Reject Request</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="noSarsConsent" class="well">
        <h4><i class="fas fa-exclamation-triangle"></i>Warning</h4>
        <p>No SARS Request Consent was attached. Has the patient requested the SARS report directly? If not, this consent is required</p>
        <button class="rightBtn btn btn-primary mr-1" id="sarsProceed">Proceed</button>
        <button class="noSarsConsent_close rightBtn btn btn-default mr-1">Go back</button>
    </div>
    <div id="noMdxConsent" class="well">
        <h4><i class="fas fa-exclamation-triangle"></i>Warning</h4>
        <p>MDX Dual Consent is mandatory. You must obtain consent before you are able to process the instruction</p>
        <button class="noMdxConsent_close rightBtn btn btn-primary mr-1">Okay</button>
    </div>
    <div id="noEmailAddress" class="well">
        <h4><i class="fas fa-exclamation-triangle"></i>Warning</h4>
        <p>No email address has been provided for the patient. If no email address is provided, MDX will not be able to provide the patient with the report, and the GP Surgery will need to provide directly</p>
        <button class="noEmailAddress_close rightBtn btn btn-primary mr-1" id="emailProceed">Proceed</button>
        <button class="noEmailAddress_close rightBtn btn btn-default mr-1 enterEmailBtn">Enter Email</button>
    </div>
    <div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Print MDX Dual Consent Form</h3>
                </div>
                <div class="modal-body">
                    <embed id="print-mdx-consent" src="{% url 'instructions:print_mdx_consent' instruction.id patient_emis_number %}" width="100%" height="100%" alt="pdf">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>                
            </div>
        </div>
    </div>
{% endblock %}

{% block Script %}
    <!-- Include jQuery Popup Overlay -->
    <script src="{% static 'js/jquery.popupoverlay.js' %}"></script>
    <script src="{% static 'js/instructions/consent_form.js' %}"></script>
    <script src="{% static 'js/intlTelInput.min.js' %}"></script>
    <script src="{% static 'js/csrf_safe.js' %}"></script>
    <script>
    $(document).ready(function () {
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        var isPopup = false;
        var isErrorPopup = false;
        var validations ={
            email: [/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/, 'Please enter a valid email address']
        };
        var inputPhone = document.querySelector("#id_patient_telephone_mobile");
        var inputAlternatePhone = document.querySelector("#id_patient_alternate_phone");
        intlTelInput(inputPhone, {
          separateDialCode: true,
          initialCountry: "auto"
        });
        intlTelInput(inputAlternatePhone, {
          separateDialCode: true,
          initialCountry: "auto"
        });
        inputPhone.addEventListener("countrychange", function() {
          var code = $(this).parent().find('.selected-flag')[0].title.split(': ')[1];
          $(this).parent().find('.selected-dial-code').html(code);
        });
        inputAlternatePhone.addEventListener("countrychange", function() {
          var code = $(this).parent().find('.selected-flag')[0].title.split(': ')[1];
          $(this).parent().find('.selected-dial-code').html(code);
        });
        $.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
          var countryCode = (resp && resp.country) ? resp.country : "";
          countryCode = countryCode.toLocaleLowerCase();
          phoneCode = $('.country-list li[data-country-code=' + countryCode + ']').attr('data-dial-code');
          var telephoneCode = $('#id_patient_telephone_code').val();
          if(telephoneCode){
            countryCode = $('.country-list li[data-dial-code=' + telephoneCode + ']').attr('data-country-code');
            phoneCode = telephoneCode;
          }
          $('#id_patient_telephone_code').parent().find('.intl-tel-input').addClass('iti-sdc-3');
          $('#id_patient_telephone_code').parent().find('.selected-flag').attr('title', '+' + phoneCode);
          $('#id_patient_telephone_code').parent().find('.selected-flag .iti-flag').addClass(countryCode);
          $('#id_patient_telephone_code').parent().find('.selected-flag .selected-dial-code').html('+' + phoneCode);
          var alternateCode = $('#id_patient_alternate_code').val();
          if(alternateCode){
            countryCode = $('.country-list li[data-dial-code=' + alternateCode + ']').attr('data-country-code');
            phoneCode = alternateCode;
          }
          $('#id_patient_alternate_code').parent().find('.intl-tel-input').addClass('iti-sdc-3');
          $('#id_patient_alternate_code').parent().find('.selected-flag').attr('title', '+' + phoneCode);
          $('#id_patient_alternate_code').parent().find('.selected-flag .iti-flag').addClass(countryCode);
          $('#id_patient_alternate_code').parent().find('.selected-flag .selected-dial-code').html('+' + phoneCode);
        });
        $(".emailModal").popup({
            transition: 'all 0.3s',
            scrolllock: true,
            onclose: function() {
                isPopup = false;
            }
        });
        $("#noSarsConsent").popup({
            transition: 'all 0.3s',
            scrolllock: true
        });
        $("#noMdxConsent").popup({
            transition: 'all 0.3s',
            scrolllock: true
        });
        $("#noEmailAddress").popup({
            transition: 'all 0.3s',
            scrolllock: true
        });
        $('.InstructionPatientForm input').attr('readonly', true);
        $("#id_sars_consent").fileinput({
            theme: 'fas',
            showUpload: false,
            {% if sars_consent_form_data.path %}
                initialPreview: [
                    "/{{ sars_consent_form_data.path }}"
                ],
                initialPreviewAsData: true,
                initialPreviewConfig: [
                    {
                        type: "{{ sars_consent_form_data.type }}",
                        url: "/{{ sars_consent_form_data.path }}",
                        extra: {csrfmiddlewaretoken: csrftoken}
                    }
                ]
            {% endif %}
        });
        $("#id_mdx_consent").fileinput({
            theme: 'fas',
            showUpload: false,
            {% if mdx_consent_form_data.path %}
                initialPreview: [
                    "/{{ mdx_consent_form_data.path }}"
                ],
                initialPreviewAsData: true,
                initialPreviewConfig: [
                    {
                        type: "{{ mdx_consent_form_data.type }}",
                        url: "/{{ mdx_consent_form_data.path }}",
                        extra: {csrfmiddlewaretoken: csrftoken}
                    }
                ]
            {% endif %}
        });
        $('#id_patient_email').blur(function(){
            validation = new RegExp(validations['email'][0]);
            if ($('#id_patient_email').val() !='' && !validation.test(this.value) && !isPopup){
                isPopup = true;
                // If the validation fails then we show the custom error message
                setTimeout(function(){$("#emailDialog1").popup('show')}, 500);
            }
        });
        $('#confirm_email').blur(function(){
            if ($('#confirm_email').val() !='' && $('#confirm_email').val() != $('#id_patient_email').val() && !isPopup){
                isPopup = true;
                // If the validation fails then we show the custom error message
                setTimeout(function(){$("#emailDialog2").popup('show')}, 500)
            }
        });
        $('#backButton').click(function(){
            window.location.href = '/medicalreport/'+'{{instruction.id}}'+'/patient-emis-number/';
        });
        $('#sarsProceed').click(function(){
            $('#noSarsConsent').popup('hide');
            var mdx_loaded = $('.file-caption-name').last().attr('title');
            if(!mdx_loaded) {
                $('#noMdxConsent').popup('show');
            }
            else if($('#id_patient_email').val() == ''){
                $('#noEmailAddress').popup('show');
            }
            else{
                $('#id_next_step').val('proceed');
                $('#id_patient_telephone_code').val($('#id_patient_telephone_mobile').parent().find('.selected-flag')[0].title.split('+')[1]);
                $('#id_patient_alternate_code').val($('#id_patient_alternate_phone').parent().find('.selected-flag')[0].title.split('+')[1]);
                $('#consentContactForm').submit();
            }
        });
        $('#emailProceed').click(function(){
            $('#id_next_step').val('proceed');
            $('#id_patient_telephone_code').val($('#id_patient_telephone_mobile').parent().find('.selected-flag')[0].title.split('+')[1]);
            $('#id_patient_alternate_code').val($('#id_patient_alternate_phone').parent().find('.selected-flag')[0].title.split('+')[1]);
            $('#consentContactForm').submit();
        });
        $('#proceedBtn').click(function(){
            $('#proceedBtn').blur();
            var sars_loaded = $('.file-caption-name').first().attr('title');
            var mdx_loaded = $('.file-caption-name').last().attr('title');
            if(!sars_loaded) {
                $('#noSarsConsent').popup('show');
                $('#id_sars_consent_loaded').val('');
            }
            else if(!mdx_loaded) {
                $('#noMdxConsent').popup('show');
                $('#id_sars_consent_loaded').val('loaded');
                $('#id_mdx_consent_loaded').val('');
            }
            else if($('#id_patient_email').val() == ''){
                $('#noEmailAddress').popup('show');
                $('#id_mdx_consent_loaded').val('loaded');
            }
            else{
                $('#id_next_step').val('proceed');
                $('#id_patient_telephone_code').val($('#id_patient_telephone_mobile').parent().find('.selected-flag')[0].title.split('+')[1]);
                $('#id_patient_alternate_code').val($('#id_patient_alternate_phone').parent().find('.selected-flag')[0].title.split('+')[1]);
                $('#consentContactForm').submit();
            }
        });
        $('#id_sars_consent').on('change', function(){
            var sars_loaded = $('.file-caption-name').first().attr('title');
            if (sars_loaded){
                $('#id_sars_consent_loaded').val('loaded');
            }
        });
        $('#id_mdx_consent').on('change', function(){
            var mdx_loaded = $('.file-caption-name').last().attr('title');
            if (mdx_loaded){
                $('#id_mdx_consent_loaded').val('loaded');
            }
        });
        $('#saveBtn').click(function(){
            var sars_loaded = $('.file-caption-name').first().attr('title');
            var mdx_loaded = $('.file-caption-name').last().attr('title');
            if(sars_loaded) {
                $('#id_sars_consent_loaded').val('loaded');
            } else {
                $('#id_sars_consent_loaded').val('');
            }
            if(mdx_loaded) {
                $('#id_mdx_consent_loaded').val('loaded');
            } else {
                $('#id_mdx_consent_loaded').val('');
            }
            $('#id_next_step').val('view_pipeline'); 
            $('#id_patient_telephone_code').val($('#id_patient_telephone_mobile').parent().find('.selected-flag')[0].title.split('+')[1]);
            $('#id_patient_alternate_code').val($('#id_patient_alternate_phone').parent().find('.selected-flag')[0].title.split('+')[1]);
            $('#consentContactForm').submit();
        });
        $('.enterEmailBtn').click(function(){
            $('#id_patient_email').focus();
        });
        $('#downloadBtn').click(function(e){
            e.preventDefault();
            $("#printModal").modal({
                backdrop: 'static'
            });
        });

        $('#id_patient_address_number').tooltip({
            title: $('#id_patient_address_number').val()
        });
        $('#rejectRequestForm').submit(function(){
            $("#consent_reject").val($("#id_patient_email").val());
        });
    });
    </script>

{% endblock %}
