{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}


{% block ExtraHead %}
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap-datepicker.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/instructions/new_instruction.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'assets/kartik-v-boostrap-fileinput/css/fileinput.css' %}">
    <link rel="stylesheet" href="{% static 'assets/kartik-v-boostrap-fileinput/themes/explorer-fas/theme.css' %}">
    <script src="{% static 'assets/kartik-v-boostrap-fileinput/js/fileinput.js' %}"></script>
    <script src="{% static 'assets/kartik-v-boostrap-fileinput/js/locales/LANG.js' %}"></script>
    <script src="{% static 'assets/kartik-v-boostrap-fileinput/themes/fas/theme.js' %}"></script>
{% endblock %}

{% block Content %}
    <form method="POST" enctype="multipart/form-data" id="newInstructionForm">
        {% csrf_token %}
        <div class="card-deck instruction">
            <div class="pr-0 {% if request.user.type == 'CLT' %} col-md-6 {% else %} col-md-12 {% endif %}">
                <div class="card mr-2">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Patient</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2 rowTitle">Name*:</div>
                            {% bootstrap_field patient_form.title size='small' form_group_class='form-group col-md-2 p-0' %}
                            {% bootstrap_field patient_form.first_name size='small' form_group_class='form-group col-md-4 px-2' %}
                            {% bootstrap_field patient_form.last_name size='small' form_group_class='form-group col-md-4 px-1' %}
                        </div>
                        <div class="row">
                            <div class="col-md-2 rowTitle">Date of Birth*:</div>
                            {% bootstrap_field patient_form.date_of_birth size='small' form_group_class='form-group col-md-6 p-0 input-group dob' show_label=False %}
                        </div>
                        <div class="row">
                            <div class="col-md-2 rowTitle">Address*:</div>
                            {% bootstrap_field patient_form.address_postcode size='small' form_group_class='form-group col-md-4 p-0 ' %}
                            {% bootstrap_field patient_form.address_name_number size='small' form_group_class='form-group col-md-6 px-1' %}
                        </div>
                        <div class="row">
                            <div class="col-md-2 rowTitle">NHS #:</div>
                            {% bootstrap_field patient_form.nhs_number size='small' form_group_class='form-group col-md-4 p-0 mt-1' show_label=False placeholder='' %}
                            <div class="col-md-2 pl-4 rowTitle">Email:</div>
                            {% bootstrap_field patient_form.email size='small' form_group_class='form-group input-group col-md-4 px-1 emailField' show_label=False %}
                        </div>
                    </div>
                </div>
            </div>
            {% if request.user.type == 'CLT' %}
                <div class="col-md-6 ">
                    <div class="card ">
                        <div class="card-header"><h5>GP and GP Practice</h5></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 rowTitle">Search GP Practice:</div>
                                {% bootstrap_field nhs_form.gp_practice size='small' form_group_class='form-group col-md-6 p-0' show_label=False %}
                            </div>
                            <div class="row " style="height: 130px">
                                <div class="col-md-3 d-flex">GP Practice*:</div>
                                <div class="col-md-6 p-0"><p id="nhsData"></p></div>
                            </div>
                            <div class="row ">
                                <div class="col-md-3 rowTitle">Named GP*:</div>
                                {% bootstrap_field gp_form.title size='small' form_group_class='form-group col-md-2 p-0' %}
                                {% bootstrap_field gp_form.initial size='small' form_group_class='form-group col-md-3 px-2' %}
                                {% bootstrap_field gp_form.last_name size='small' form_group_class='form-group col-md-4 px-2' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <div class="card">
                        <div class="card-header"><h5>Scope</h5></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2 d-flex">Type of Instruction*:</div>
                                {% bootstrap_field scope_form.type size='small' form_group_class='form-group col-md-6 p-0' show_label=False %}
                            </div>
                            <div class="row">
                                <div class="col-md-2 rowTitle">Set from Template?</div>
                                {% bootstrap_field scope_form.template size='small' form_group_class='form-group col-md-6 px-0' show_label=False %}
                                {% bootstrap_button 'Set conditions' button_type="button" extra_classes='btn-xs' %}
                            </div>
                            <div class="conditions d-none">
                                <div class="row">
                                    <div class="col-md-2 rowTitle" >Common Conditions of Interest*:</div>
                                    {% for checkbox in scope_form.common_condition %}

                                    {% endfor %}
                                    {% bootstrap_field scope_form.common_condition size='small' form_group_class='form-group col-md-10 p-0 commonConditions' show_label=False %}
                                </div>
                                <div class="row">
                                    <div class="col-md-2 rowTitle">Addition Conditions of Interest*:</div>
                                    {% bootstrap_field scope_form.addition_condition size='small' form_group_class='form-group col-md-6 p-0' show_label=False %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <div class="card">
                        <div class="card-header"><h5>Consent and Patient Copy</h5></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2 rowTitle">Upload consent form:</div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="file-loading">
                                            {% bootstrap_field scope_form.consent_form show_label=False %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% bootstrap_field scope_form.send_to_patient size='small' form_group_class='form-group offset-md-2 col-md-6 p-0' show_label=False %}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <div class="card">
                        <div class="card-header"><h5>Addition Question</h5></div>
                        <div class="card-body">
                            <div class="row" id="questions_block">
                                {{ addition_question_formset.management_form }}
                                <table border="0" cellpadding="10" cellspacing="0" class="table">
                                    <thead>
                                        <tr>
                                            <th>Questions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for form in addition_question_formset.forms %}
                                        <tr>
                                            <td>{{ form.question }}</td>
                                            <td></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
            <div class="col-md-4 mt-4">
                <button class="btn btn-primary btn-lg w-75" type="submit" id="submit-all">Submit</button>
            </div>
            {% if request.user.type == 'CLT' %}
                <div class="col-md-4 mt-4">
                    <button class="btn btn-primary btn-lg w-75" id="myBtn" type="button" data-toggle="modal">Save as template</button>
                </div>
            {% endif %}
    </form>

    <!-- Create Template Modal -->
    <div class="modal fade" id="create_template_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
               <div class="form-group">
                   <label class="sr-only" for="template_title">Title</label>
                   <input type="text" name="title" id="template_title" maxlength="255" class="form-control form-control-sm" placeholder="Title">
               </div>
              <div class="form-group">
                  <div class="form-group">
                      <label class="sr-only" for="template_description">Description</label>
                      <textarea name="description" cols="40" rows="10" id="template_description" class="form-control form-control-sm" placeholder="Description"></textarea>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="save_template" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block Script %}
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        const MUSCULOSKELETAL_SNOMED_CODE = '128237006';
        const DISORDER_BACK_SNOMED_CODE = '33308003';
        const NEURODEGENERATIVE_SNOMED_CODE = '80690008';
        const PERIPHERAL_SNOMED_CODE = '42658009';

        $(document).ready(function () {
            $('#gp_last_name').attr('name', 'gp_last_name');

            $('#newInstructionForm tbody tr').formset({
                'deleteText': 'X remove',
                'addText': '+ Add Another',
                'addCssClass': 'btn btn-primary',
                'deleteCssClass': 'btn btn-danger'
            });

            // hide same label choice
            $("input[value=" + DISORDER_BACK_SNOMED_CODE +"]").closest("div").attr('style','display:none !important');
            $("input[value=" + PERIPHERAL_SNOMED_CODE + "]").closest("div").attr('style','display:none !important');

            $("input[type='checkbox']").on('change', function () {
               if($(this).val() == MUSCULOSKELETAL_SNOMED_CODE){
                    $("input[value=" + DISORDER_BACK_SNOMED_CODE + "]").trigger('click');
               }

               if($(this).val() == NEURODEGENERATIVE_SNOMED_CODE){
                   $("input[value=" + PERIPHERAL_SNOMED_CODE + "]").trigger('click');
               }
            });

            $("#id_consent_form").fileinput({
                theme: 'fas',
                showUpload: false,
            });

            $('.radio').addClass('d-inline');
            $('#id_common_condition').addClass('row px-2');
            $('.checkbox').addClass('d-inline col-md-3');

            $('.dob').append('<div class="input-group-prepend">\n' +
                '    <div class="input-group-text">\n' +
                '      <i class="fas fa-calendar-alt"></i>\n' +
                '    </div>\n' +
                '  </div>');

            $('#id_date_of_birth').datepicker({
                format: 'dd/mm/yyyy',
                orientation: 'bottom',
                weekStart: 1,
                daysOfWeekHighlighted: "6,0",
                autoclose: true,
                todayHighlight: true,
            });
            $('#datepicker').datepicker("setDate", new Date());
            $('.datepicker-days .table-condensed').css('width', '231px')

            $('#id_gp_practice').select2({
                ajax: {
                    delay: 500,
                    url: "{% url 'organisations:nhs_autocomplete' %}",
                    data: function (params) {
                        let query = {
                            search: params.term,
                        };
                        return query;
                    },
                    processResults: function (data) {
                        return {
                            results: data.items
                        }
                    }
                }
            });

            $('#id_template').select2({
                ajax: {
                    delay: 500,
                    url: "{% url 'template:search' %}",
                    data: function (params) {
                        let query = {
                            title: params.term,
                        };
                        return query;
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        }
                    }
                }
            });

            //load template into the form
            $('#id_template').on('change', function (data) {
                $.ajax({
                    url: "/template/details/" + this.value,
                    method: 'get',
                    success: function (data) {
                        if(data.questions){
                            data.questions.forEach(function(element, index) {
                                question_form_html = `
                                    <tr class="dynamic-form">
                                        <td>
                                            <input type="text" value="` + element["text"] + `" name="form-`+ index + `-question" class="form-control questions_inputs" maxlength="255" id="id_form-`+ index + `-question">
                                        </td>
                                        <td><a class="btn btn-danger" href="javascript:void(0)">X remove</a></td>
                                    </tr>
                                `;
                                $('#questions_block').find('tbody').prepend(question_form_html);
                            });
                        };

                        if(data.conditions){
                            $('#id_type').find("input[name=type][value=AMRA]").prop('checked', true);
                            $('.instructionType').trigger('change');
                            data.conditions.forEach(function(element, index) {
                                if(element['is_common_condition']){
                                    $('#id_common_condition').find("input[name=common_condition]").each(function () {
                                        if($(this).val()==element["id"]){
                                            $(this).prop('checked', true);
                                        }
                                    })
                                } else {
                                    $('#id_addition_condition').append(new Option(element["text"], element["id"]));
                                    $('#id_addition_condition').select2('val', [element["id"]]);
                                }

                            });
                        };
                    },
                    error: function (errors) {
                        create_alert('Unable to load a template.', 'error');
                    }
                })
            });

            $('#id_addition_condition').select2({
                minimumInputLength: 3,
                width: 500,
                multiple: true,
                ajax: {
                    url: "{% url 'snomedct:query_snomed' %}",
                    data: function (params) {
                        let query = {
                            keyword: params.term,
                        };
                        return query;
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        }
                    }
                }
            });

            $('#id_address_postcode').select2({
                ajax: {
                    url: function (params) {
                        return "https://api.postcodes.io/postcodes/"+ params.term +"/autocomplete"
                    },
                    processResults: function (data) {
                        let formed_data = [];
                        for(let i=0; i < data['result'].length; i++){
                            formed_data.push({'id': data['result'][i], 'text': data['result'][i]});
                        }
                        return {
                            results: formed_data
                        }
                    }
                }
            });

            var $selectAllButton = $('<button class="btn btn-default btn-xs" id="selectAllButton" type="button">Select All</button>');
            var $deSelectAllButton = $('<button class="btn btn-default btn-xs" id="deSelectAllButton" type="button">Deselect All</button>');
            $('#id_common_condition').append([$selectAllButton, $deSelectAllButton]);

            $('#selectAllButton').on('click', function () {
                $('.commonConditions input:checkbox').prop('checked', true);
            });

            $('#deSelectAllButton').on('click', function () {
                $('.commonConditions input:checkbox').prop('checked', false);
            });

            $('#id_gp_practice').on('change', function () {
                $.ajax({
                    type: "GET",
                    url: "{% url 'organisations:get_nhs_data' %}",
                    data: {
                        'code': $(this).val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        $('#nhsData').text(
                            data.address
                        );
                    }
                })
            });

             $('#id_address_postcode').on('change', function () {
                $.ajax({
                    type: "GET",
                    url: "https://api.postcodes.io/postcodes/"+ $(this).val(),
                    success: function (data) {
                        if(data['status'] == 200) {
                            let formed_data = data['result']['admin_ward']+ '  ' +data['result']['admin_district']+ '  ' + data['result']['admin_county'];
                            let cleaned_formed_data = formed_data.replace("null", '');
                            $('#id_address_name_number').val(cleaned_formed_data);
                        }
                    }
                })
            });

            $('.instructionType').on('change', function () {
               if($(this).is(':checked') && $(this).val() == 'AMRA'){
                   $('.conditions').removeClass('d-none');
               }else if($(this).is(':checked')){
                   $('.conditions').addClass('d-none');
               }
            });

            $("#myBtn").click(function(){
                $("#create_template_modal").modal();
            });

            $('#save_template').on('click', function(){
                if($('.instructionType:checked').val() != 'AMRA'){
                    return false;
                }

                let questions = [];
                $(".questions_inputs").each(function (i, el) {
                     questions.push($(el).val())
                });

                let common_conditions = [];
                $( "input[name='common_condition']:checked" ).each(function (i, el) {
                     common_conditions.push($(el).val())
                });

                let addition_conditions = [];
                $( "#id_addition_condition option:selected" ).each(function (i, el) {
                     addition_conditions.push($(el).val())
                });

                let data = {
                    'title': $('#template_title').val(),
                    'description': $('#template_description').val(),
                    'questions': questions,
                    'common_conditions': common_conditions,
                    'addition_conditions': addition_conditions,
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                };
                $.ajax({
                    url: "{% url 'template:create' %}",
                    data: data,
                    method: 'post',
                    success: function () {
                        create_alert('Template has been created successfully.', 'success')
                    },
                    error: function (errors) {
                        // TODO: add validation messages to the form
                    }
                })
            });


        });
    </script>

{% endblock %}