{% extends 'base.html' %}
{% load static %}
{% load instruction_templatetags %}
{% load get_permissions %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block ExtraHead %}
     <!-- Jquery DataTables -->
    <link rel="stylesheet" href="{% static 'css/dataTables/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/instructions/pipeline_views_instructions.css' %}">
{% endblock %}

{% block Content %}
    <div>
        <div class="card">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row" >
                        <div class="col-md-8">
                            {% if request.user.type == 'GP' %}
                                {% if perms.instructions.create_sars %}
                                    <a href="{% url 'instructions:new_instruction' %}" class="btn btn-primary" id="addInstructionButton">New SARs Instruction</a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'instructions:new_instruction' %}" class="btn btn-primary" id="addInstructionButton">New Instruction</a>
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            <form id="topsearchform" role="search" method="post" action="" class="" autocomplete="off">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-9">
                                        <input id="search" name="search" type="search" placeholder="Search" class="form-control search" required="true">
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-primary btn-block" type="submit" disabled><i class="fas fa-search"></i>&nbsp;&nbsp;Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if user.type == 'GP' %}
            <div class="card border border-primary mt-3" id="fee_block">
                <div class="card-header text-light" style="background-color: #013ADF">
                    <div class="row">
                        <div class="col-md-10 pt-2">
                            <h5><i class="fas fa-exclamation-circle"></i>&nbsp;&nbsp;<strong>Fee Sensitive</strong></h5>
                        </div>
                        <div class="col-md-2 pt-1">
                            <select class="form-control" disabled>
                                <option>AMRA</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            {% for k, v in count_fee_sensitive_number.items %}
                                <div class="number">
                                    {% comment %} <a href="#" onclick="instructionStatusFilter('{{ k }}');" class="ml-2 mr-2 mb-0">{{ k }} ({{ v }})</a> {% endcomment %}
                                    <button class="btn btn-primary" id="{{ k|cut:' ' }}_t2" onclick="instructionStatusFilter('{{ k }}', 'pipeline', 2);">{{ k }} ({{ v }})</button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <!--
                                <select class="form-control">
                                    <option>Bulk Action</option>
                                    <option>Tiny Action</option>
                                </select>
                            -->
                        </div>
                        <div class="col-md-3">
                            <!--{% bootstrap_button 'Apply' button_type="button" button_class="btn-primary"%} -->
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            {% render_table table_fee 'django_tables2/bootstrap.html' %}
                            {% bootstrap_pagination  parameter_name='page_t2' page=table_fee.page pages_to_show=5 size='small' %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="card border border-info mt-4" id="all_block">
            <div class="card-header bg-info text-light">
                <div class="row">
                    <div class="col-md-10 pt-2">
                        <h5><i class="fas fa-question-circle"></i>&nbsp;&nbsp;<strong>Anything Else</strong></h5>
                    </div>
                    <div class="col-md-2 pt-1">
                        <select class="form-control" id="filterInstructionType" onchange="typeFilter();">
                            <option value="allType">All Types</option>
                            <option value="AMRA">AMRA</option>
                            <option value="SARS">SARS</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        {% for k, v in overall_instructions_number.items %}
                            <div class="number" id="{{ k|cut:' ' }}">
                                {% comment %} <a href="#" onclick="instructionStatusFilter('{{ k }}');" class="ml-2 mr-2 mb-0">{{ k }} ({{ v }})</a> {% endcomment %}
                                <button class="btn btn-info" id="{{ k|cut:' ' }}" onclick="instructionStatusFilter('{{ k }}', 'pipeline', 1);">{{ k }} ({{ v }})</button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <!--
                            <select class="form-control">
                                <option>Bulk Action</option>
                                <option>Tiny Action</option>
                            </select>
                        -->
                    </div>
                    <div class="col-md-3">
                        <!--{% bootstrap_button 'Apply' button_type="button" button_class="btn-primary"%} -->
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        {% render_table table_all 'django_tables2/bootstrap.html' %}
                        {% bootstrap_pagination  page=table_all.page pages_to_show=5 size='small' %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block Script %}
    <script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/instructions/instruction_views.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#instructionsTable').DataTable();
            $('.dataTables_filter, .dataTables_info, .dataTables_paginate, .dataTables_length').hide();
            $('th.gp_practice > a').text('GP Practice');
            $('th.gp_practice > a').click(false);

            $("<li class='page-item {{ next_prev_data_all|keyvalue:'prev_disabled' }}'><a class='page-link'" +
            "href='{% url 'instructions:view_pipeline' %}?page={{ next_prev_data_all|keyvalue:'prev_page' }}&status={{ next_prev_data_all|keyvalue:'status' }}&type={{ next_prev_data_all|keyvalue:'type' }}'>&lt;</a>/li").insertAfter('#all_block .prev');
            $("<li class='page-item {{ next_prev_data_all|keyvalue:'next_disabled' }}'><a class='page-link'" +
            "href='{% url 'instructions:view_pipeline' %}?page={{ next_prev_data_all|keyvalue:'next_page' }}&status={{ next_prev_data_all|keyvalue:'status' }}&type={{ next_prev_data_all|keyvalue:'type' }}'>&gt;</a></li>").insertBefore('#all_block .last');

            $("<li class='page-item {{ next_prev_data_fee|keyvalue:'prev_disabled' }}'><a class='page-link'" +
            "href='{% url 'instructions:view_pipeline' %}?page_t2={{ next_prev_data_fee|keyvalue:'prev_page' }}&status={{ next_prev_data_fee|keyvalue:'status' }}&type={{ next_prev_data_fee|keyvalue:'type' }}'>&lt;</a>/li").insertAfter('#fee_block .prev');
            $("<li class='page-item {{ next_prev_data_fee|keyvalue:'next_disabled' }}'><a class='page-link'" +
            "href='{% url 'instructions:view_pipeline' %}?page_t2={{ next_prev_data_fee|keyvalue:'next_page' }}&status={{ next_prev_data_fee|keyvalue:'status' }}&type={{ next_prev_data_fee|keyvalue:'type' }}'>&gt;</a></li>").insertBefore('#fee_block .last');

            $('input.search').on('keyup click', function () {
                filterGlobal();
            } );

            $('.pager').hide();

            cookieStatus = Cookies.get('status');
            if( cookieStatus != -1 ){
                status = cookieStatus;
                var key = getObjectKeyByValue(inst_statusDict, status);
                $('#' + key.replace(' ', '')).button('toggle')
            } else {
                if( getUrlParameter('status') ){
                    status = getUrlParameter('status');
                    var key = getObjectKeyByValue(inst_statusDict, status);
                    $('#' + key.replace(' ', '')).button('toggle')
                } else {
                    $('#' + key.replace(' ', '')).button('toggle')
                }
            }

            if(getUrlParameter('type')){
                $('#filterInstructionType').val(getUrlParameter('type'));
            }

            $('.checkbox').each(function () {
                $(this).html('<input type="checkbox">');
            });

            $("th input:checkbox").click(function(){
                $('input:checkbox').not(this).prop('checked', this.checked);
            });

            $(".page-link").each(function () {
                this.href = this.href + '&type=' + getUrlParameter('type') + '&status=' + getUrlParameter('status');
            });

            $('th a').click(function(e) {
                e.preventDefault();
            });
        });
    </script>
{% endblock %}
