{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load instruction_templatetags %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}


{% block ExtraHead %}
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap-datepicker.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/instructions/new_instruction.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'assets/kartik-v-boostrap-fileinput/css/fileinput.css' %}">
    <link rel="stylesheet" href="{% static 'assets/kartik-v-boostrap-fileinput/themes/explorer-fas/theme.css' %}">
    <script src="{% static 'assets/kartik-v-boostrap-fileinput/js/fileinput.js' %}"></script>
    <script src="{% static 'assets/kartik-v-boostrap-fileinput/js/locales/LANG.js' %}"></script>
    <script src="{% static 'assets/kartik-v-boostrap-fileinput/themes/fas/theme.js' %}"></script>
{% endblock %}

{% block Content %}
    <div class="alert alert-danger" role="alert">
        <h5>Instruction Generated Fail !</h5>
        <label>Sorry somethings wrong. The medical report or record can't generete, Please try again</label>
        <div class="col-12">&nbsp;</div>
        <div class="row">
            <div class="col-4">
                <button class='btn btn-warning btn-lg btn-block text-dark' type="button"><i class="fas fa-redo-alt"></i>&nbsp;&nbsp;Retry Generete</button>
            </div>
            <div class="col-4">
                <a href="{% url 'medicalreport:edit_report' instruction_id=instruction.id %}">
                    <button class='btn btn-primary btn-lg btn-block text-white' type="button">
                        <i class="fas fa-edit"></i>&nbsp;&nbsp;Edit Instruction
                    </button>
                </a>
            </div>
            <div class="col-4">
                <button class='btn btn-danger btn-lg btn-block text-white' type="button" id="rejectFailBtn">
                    <i class="far fa-trash-alt"></i>&nbsp;&nbsp;Reject Instruction
                </button>
            </div>
        </div>
    </div>

    <div class="card-deck instruction">
        <div class="pr-0 col-md-6">
            <div class="card mr-2">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Patient</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 rowTitle">Name*:</div>
                        {% bootstrap_field patient_form.patient_title size='small' form_group_class='form-group col-md-2 p-0'%}
                        {% bootstrap_field patient_form.patient_first_name size='small' form_group_class='form-group-plaintext  col-md-4 px-2' %}
                        {% bootstrap_field patient_form.patient_last_name size='small' form_group_class='form-group col-md-4 px-1' %}
                    </div>
                    <div class="row">
                        <div class="col-md-2 rowTitle">Date of Birth*:</div>
                        {% bootstrap_field patient_form.patient_dob size='small' form_group_class='form-group col-md-6 p-0 input-group dob' show_label=False %}
                    </div>
                    <div class="row">
                        <div class="col-md-2 rowTitle">Address*:</div>
                        {% bootstrap_field patient_form.patient_postcode size='small' form_group_class='form-group col-md-4 p-0 ' %}
                        {% bootstrap_field patient_form.patient_address_number size='small' form_group_class='form-group col-md-6 px-1' %}
                    </div>
                    <div class="row">
                        <div class="col-md-2 rowTitle">NHS #:</div>
                        {% bootstrap_field patient_form.patient_nhs_number size='small' form_group_class='form-group col-md-4 p-0 mt-1' show_label=False placeholder='' %}
                        <div class="col-md-2 pl-4 rowTitle">Email:</div>
                        {% bootstrap_field patient_form.patient_email size='small' form_group_class='form-group input-group col-md-4 px-1 emailField' show_label=False placeholder='' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="card ">
                <div class="card-header"><h5>GP and GP Practice</h5></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 rowTitle">Search GP Practice:</div>
                        {% bootstrap_field nhs_form.gp_practice size='small' form_group_class='form-group col-md-6 p-0' show_label=False %}
                    </div>
                    <div class="row " style="height: 130px">
                        <div class="col-md-3 d-flex">GP Practice*:</div>
                        <div class="col-md-6 p-0"><p id="nhsData">{{ nhs_address }}</p></div>
                    </div>
                    <div class="row ">
                        <div class="col-md-3 rowTitle">Named GP:</div>
                        {% bootstrap_field gp_form.gp_title size='small' form_group_class='form-group col-md-2 p-0' %}
                        {% bootstrap_field gp_form.initial size='small' form_group_class='form-group col-md-3 px-2' %}
                        {% bootstrap_field gp_form.gp_last_name size='small' form_group_class='form-group col-md-4 px-2' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-header"><h5>Scope</h5></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 d-flex">Type of Instruction*:</div>
                        {% bootstrap_field scope_form.type size='small' form_group_class='form-group col-md-6 p-0' show_label=False %}
                    </div>
                    <div class="conditions">
                        <div class="row">
                            <div class="col-md-2 rowTitle" >Conditions of Interest:</div>
                            <ul class="pl-0">
                                {% for condition in condition_of_interest %}
                                    <li>{{ condition }}</li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-header"><h5>References</h5></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">Your reference:</div>
                        {% bootstrap_field reference_form.your_ref size='small' form_group_class='form-group col-md-4' show_label=False placeholder='' %}
                        <div class="col-md-2">MediRef:</div>
                        {% bootstrap_field reference_form.medi_ref size='small' form_group_class='form-group col-md-4' show_label=False %}
                    </div>
                </div>
            </div>
        </div>
        {% if not instruction.type == 'SARS'%}
            <div class="col-md-12 mt-4" id="consent_main_block">
                <div class="card">
                    <div class="card-header"><h5>Consent and Patient Copy</h5></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2 rowTitle">Upload consent form:</div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <div class="file-loading">
                                        {% bootstrap_field scope_form.consent_form show_label=False %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4" id="questions_main_block">
                <div class="card">
                    <div class="card-header"><h5>Addition Question</h5></div>
                    <div class="card-body">
                        <div class="row" id="questions_block">
                            {{ addition_question_formset.management_form }}
                            <table border="0" cellpadding="10" cellspacing="0" class="table">
                                <thead>
                                    <tr>
                                        <th>Questions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form in addition_question_formset.forms %}
                                    <tr>
                                        <td>{{ form.question }}</td>
                                        <td></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="modal fade" id="modal-reject" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="container">
                    <div class="modal-body mt-3">
                        <h1><i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;Warning</h1>
                        <div class="col-12">&nbsp;</div>
                        <div class="text-center">
                            <h5>This Instruction will send to reject status and instruction is have reject reason.</h5>
                            <h5>Reason : <strong>Instruction fail generete.</strong></h5>
                            <div class="col-12">&nbsp;</div>
                            <label class="text-danger">Please confirm for reject this instruction.</lable>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-12">
                            <form action="#" method="POST">
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-lg btn-block btn-danger" type="submit">
                                            <i class="fas fa-check"></i>&nbsp;&nbsp;Confirm Reject
                                        </button>
                                    </div>
                                    <div class="col-6">
                                        <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal">
                                            <i class="fas fa-times"></i>&nbsp;&nbsp;Cancel
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block Script %}
    <script>
    $(document).ready(function () {
        $('input').attr('readonly', true);

        $("#id_consent_form").fileinput({
            theme: 'fas',
            showUpload: false,
            {% if consent_form_data.path %}
                initialPreview: [
                    window.location.origin+'/{{ consent_form_data.path }}'
                ],
                initialPreviewAsData: true,
                initialPreviewConfig: [
                    {type: "{{ consent_form_data.type }}", url: "{% static consent_form_data.path %}" }
                ]
            {% endif %}
        });

        let total_addition_form = $('#id_form-TOTAL_FORMS').val() - 1;

        $('#id_form-'+ total_addition_form.toString() +'-question').remove();

        $('#rejectFailBtn').click( function () {
            $("#modal-reject").modal({
                backdrop: 'static'
            });
        });
    });
    </script>

{% endblock %}
