#patient-info-open-modal{
    position: fixed;
    top: 0px;
    margin: 8px;
    margin-left: -15px;
}
.no-bullet {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

.callout {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 0;
    background-color: white;
    color: #0a0a0a;
}
.callout--no-padding {
    padding: 0;
}
.callout__header {
    background-color: #376fa1;
    color: #fefefe;
    font-weight: bold;
    margin-bottom: 0;
    padding: 1em;
}
.callout__content {
    padding: 1em;
}

.redaction-checkbox {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    margin: 0;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.8;
    color: #0a0a0a;
}
.redaction-checkbox__header {
    font-size: 1.14em;
}
.redaction-checkbox__input {
    position: absolute;
    visibility: hidden;
}
.redaction-checkbox__input:checked ~ .redaction-checkbox__icon,
.redaction-checkbox__input:checked ~ .redaction-checkbox__text,
.redaction-checkbox__input:checked ~ .redaction-checkbox__header,
.redaction-checkbox__input:checked ~ .redaction-checkbox__list .redaction-checkbox__list-item {
    opacity: .5;
  }
.redaction-checkbox__input:checked ~ .redaction-checkbox__text,
.redaction-checkbox__input:checked ~ .redaction-checkbox__header,
.redaction-checkbox__input:checked ~ .redaction-checkbox__list .redaction-checkbox__list-item {
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
  }
.redaction-checkbox__input:checked ~ .redaction-checkbox__icon {
    color: #0a0a0a;
    line-height: 1.8;
}
.redaction-checkbox__icon {
    color: #00b7a3;
    line-height: 1.8;
}
.redaction-additional-header {
    color: #8a8a8a;
}
textarea {
    min-height: 75px;
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    border: 1px solid #cacaca;
    border-radius: 0;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    color: #0a0a0a;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.attachment-preview-link {
    background-color: #376fa1;
    border-radius: 50%;
    color: #f1f1f2;
    float: left;
    height: 1.6em;
    margin-right: 1em;
    padding: .25em;
    text-align: center;
    width: 1.6em;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

strong, b {
    font-weight: bold;
    line-height: inherit;
}

.redaction-checkbox__list-item {
    white-space: normal;
}

.value-event-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
.value-event-table__header {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem 0.625rem 0.625rem;
}
.value-event-table__cell {
    color: #575757;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
.value-event-table__cell:last-of-type {
    color: #0a0a0a;
}

.sensitive-information-instructions{
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 0;
}
h1 {
    color: #8a8a8a;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
}
.header {
    color: #8a8a8a;
}

.nav-tabs > li > a[aria-selected='true'] {
    background: #fefefe;
    color: #0a0a0a;
}
.nav-tabs > li > a {
    background: #fefefe;
    color: #0a0a0a;
}