#step_form .card-header {
    background-color: #36569a;
    color: whitesmoke;
}

#step_form .card-body {
    color: black;
}

#step_form .card {
    margin-bottom: 10px;
}

.subheader {
    margin-bottom: 20px;
}

.red{
    color: #e80000;
}