/***************** 5. Instructions Pipeline ****************/
.status .badge {
  width: 128px;
}

.feeNote .badge {
  width: 128px;
  background-color: #00bba3;
}

#addInstructionButton {
  color: white;
  font-weight: bold;
}