{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block ExtraHead %}
    <link href="{% static 'css/sign-in.css' %}" rel="stylesheet">
{% endblock %}

{% block PageContent %}
    <div class="outer">
        <div class="middle">
            <div class="inner text-center">
                <img class="mt-4 mb-4 w-75" src="{% static 'images/logo/eMR_med.png' %}">
                <form method="POST">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    {% bootstrap_form form layout='inline' %}
                    <div class="text-right mb-4">
                        <a href="{% url 'accounts:password_reset' %}">Forgot your password?</a>
                    </div>
                    <div class="terms-policy mb-3">
                        <button id="MediTerms">Terms & Conditions</button>
                        <button id="MediPolicy">Data Policy</button>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block " type="submit">LOGIN</button>
                    <p class="mt-3 mb-3 text-muted">&copy; 2019</p>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="MediTermsModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="col-12 text-center modal-pdf">
                            <embed src="{% static 'documents/MediTCs.pdf' %}" width="100%" height="100%" alt="pdf">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="MediPolicyModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="col-12 text-center modal-pdf">
                            <embed src="{% static 'documents/MediPolicy.pdf' %}" width="100%" height="100%" alt="pdf">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock PageContent %}
{% block Script %}
  <script>
      $('#MediTerms').on('click', function(){
          $('#MediTermsModal').modal("show");
      });
      $('#MediPolicy').on('click', function(){
          $('#MediPolicyModal').modal("show");
      });
  </script>
{% endblock %}
