{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}


{% block ExtraHead %}
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/onboarding/emr_setup.css' %}" rel="stylesheet"/>
{% endblock %}

{% block Content %}
    {% if created %}

        <p>Thank you for setting up eMR. A completely free tool that allows you to process SARs and AMRA requests at a click of a button.

            <br>A confirmation email has been sent to your registered Surgery email address. If one was not provided, a member of the MediData team will be in touch shortly.

            <br>If you have any queries please email us on emr@medi2data.com or contact our support team on 03333 0 55774</p>
    {% else %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-deck emr-setup">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>eMR Set Up</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row subheader">
                            To be completed by an authorised member of the practice
                        </div>
                        <div class="row form-group">
                            <h5>Surgery details</h5>
                        </div>
                        <div class="row form-group">
                            <h6>Search for your Surgery by name or Code. If your Surgery is not listed, please just complete the fields</h6>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">Surgery Name</div>
                            {% bootstrap_field emr_form.surgery_name show_label=False id="id_surgery_name" form_group_class='col-md-10' placeholder='' %}
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">Address Line 1</div>
                                    {% bootstrap_field emr_form.address_line1 show_label=False form_group_class='col-md-8' placeholder='' %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">Surgery Code</div>
                                    {% bootstrap_field emr_form.surgery_code show_label=False id="id_surgery_code" form_group_class='col-md-8' placeholder='' %}
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">Address Line 2</div>
                                    {% bootstrap_field emr_form.address_line2 show_label=False form_group_class='col-md-8' placeholder='' %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">Telephone No.</div>
                                    {% bootstrap_field emr_form.phone show_label=False form_group_class='col-md-8' placeholder='' %}
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">City</div>
                                    {% bootstrap_field emr_form.city show_label=False form_group_class='col-md-8' placeholder='' %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">Surgery email</div>
                                    {% bootstrap_field emr_form.surgery_email show_label=False form_group_class='col-md-8' placeholder='' %}
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">Postcode</div>
                            {% bootstrap_field emr_form.post_code show_label=False form_group_class='col-md-4' placeholder='' %}
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">PM or Lead role name</div>
                                    {% bootstrap_field emr_form.pm_name show_label=False form_group_class='col-md-8' placeholder='' %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">Email to receive SAR & AMRA requests</div>
                                    {% bootstrap_field emr_form.receive_email show_label=False form_group_class='col-md-8' placeholder='' %}
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">PM or Lead role email</div>
                            {% bootstrap_field emr_form.pm_email show_label=False form_group_class='col-md-4' placeholder='' %}
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">Name of one GP</div>
                            {% bootstrap_field emr_form.gp_name show_label=False form_group_class='col-md-4' placeholder='' %}
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3">Primary care records system</div>
                            {% bootstrap_field emr_form.primary_care show_label=False form_group_class='col-md-4' placeholder='' %}
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3">Name of person completing this form</div>
                            {% bootstrap_field emr_form.person_completeing show_label=False form_group_class='col-md-4' placeholder='' %}
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3">Job title</div>
                            {% bootstrap_field emr_form.job_title show_label=False form_group_class='col-md-4' placeholder='' %}
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                              <input type="checkbox" class="accept-policy" name="accept_policy" id="accept-policy" disabled>I accept all T&Cs, End User Licence and data policy. View all documents </input>
                              <a href="#" class="active-a" data-toggle="modal" data-target="#acceptTCs">here</a>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="checkbox" class="consent" name="consented">I consent to MediData Exchange contacting the surgery regarding eMR.</input>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button id="BtnSubmit" class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal fade pdf-modal" id="acceptTCs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog policy-modal" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">T&Cs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% if setting and setting.policy_form %}
                  <div class="iframe" id="iframe">
                    <iframe id="policyForm" src="/{{ setting.policy_form.url }}#zoom=100" height="400px" width="100%"></iframe>
                  </div>
                {% endif %}
              </div>
              <div class="modal-footer">
                <button id="goBack" type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Go back
                <button id="acceptPolicy" type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Accept
              </div>
            </div>
          </div>
        </div>
    {% endif %}
{% endblock %}

{% block Script %}
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script>
        $(document).ready(function () {
			$('#id_surgery_code').select2({
                tags: true,
                ajax: {
                    type: "GET",
                    delay: 1000,
                    url: "{% url 'onboarding:code_autocomplete' %}",
                    dataType: 'json',
                    data: function (params) {
                        let query = {
                            search: params.term,
                        };
                        return query;
                    },
                    processResults: function (data, params) {
                        return {
                            results: $.map(data, function (item, index) {
                                return {
                                    text: item,
                                    id: index,
                                    data: item
                                };
                            })
                        };
                    }
                }
            });
			 $('#id_surgery_name').select2({
                tags: true,
                ajax: {
                    type: "GET",
                    delay: 500,
                    url: "{% url 'onboarding:name_autocomplete' %}",
                    dataType: 'json',
                    data: function (params) {
                        let query = {
                            search: params.term,
                        };
                        return query;
                    },
                    processResults: function (data, params) {
                        return {
                            results: $.map(data, function (item, index) {
                                return {
                                    text: item,
                                    id: item,
                                    data: item
                                };
                            })
                        };
                    }
                }

            });
            $('#id_gp_practice').select2();
            $('#acceptPolicy').click(function() {
              $('#accept-policy').attr("checked", true);
            });
            $('#goBack').click(function() {
              $('#accept-policy').attr("checked", false);
            });
            $('#BtnSubmit').click(function() {
              $('#accept-policy').removeAttr("disabled");
            });
        });

    </script>
{% endblock %}
