{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block ExtraHead %}
    <link rel="stylesheet" href="{% static 'css/onboarding/emr_setup_final.css' %}">
    <link rel="stylesheet" href="{% static 'css/intlTelInput.min.css' %}">
{% endblock %}

{% block Content %}
    <div class="col-md-12 pt-3 pb-3 bg-white emrSetupStage2">
        <form method="POST" enctype="multipart/form-data" id="OnboardingFinalSetupForm">
            {% csrf_token %}
            <div class="col-md-12">
                <h2><b>eMR Set Up-Stage 2</b></h2>
                <p class="mt-3 mb-3">To be completed by an authorised member of the surgery only.</p>
            </div>
            <div class="col-md-12">
                <h4 class="mb-3"><b>Surgery details</b></h4>
                <div class="row">
                    <div class="col-md-2"><b>Surgery Name</b></div>
                    <div class="col-md-10">
                        {% bootstrap_field surgery_form.surgery_name %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><b>Surgery Code</b></div>
                    <div class="col-md-4">
                        {% bootstrap_field surgery_form.surgery_code placeholder='' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">Address</div>
                            <div class="col-md-8">
                                {% bootstrap_field surgery_form.address placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">Postcode</div>
                            <div class="col-md-8">
                                {% bootstrap_field surgery_form.postcode placeholder='' %}
                            </div>
                            <div class="col-md-4">Surgery Tel number</div>
                            <div class="col-md-8">
                                {% bootstrap_field surgery_form.surgery_tel_number placeholder='' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row">

                </div>
            <div class="col-md-12 mt-5">
                <h4><b>eMR Users</b></h4>
                <p class="mt-3 mb-0 red">
                    Please add the details of anyone who will be using eMR for SARs, Medical Reports, or workflow management.
                </p>
                <p class="red mb-3">
                    You can skip this step and add users later if you wish.
                </p>
                {{ user_formset.management_form }}
                <div class="table-responsive">
                    <table class="table table-bordered vertical-middle">
                        <thead>
                            <tr>
                                <th style="width: 7%;">Title*</th>
                                <th style="width: 13%;">First Name*</th>
                                <th style="width: 13%;">Surname*</th>
                                <th style="width: 13%;">Email*</th>
                                <th style="width: 11%;">Role(GP, Other)</th>
                                <th style="width: 27%;">
                                    Mobile Phone*
                                    <p class="font-weight-light text-secondary mb-0">(required to set up two factor authentication)</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form in user_formset.forms %}
                            <tr>
                                <td>{% bootstrap_field form.title placeholder='' %}</td>
                                <td>{% bootstrap_field form.first_name placeholder='' %}</td>
                                <td>{% bootstrap_field form.last_name placeholder='' %}</td>
                                <td>{% bootstrap_field form.email placeholder='' %}</td>
                                <td>{% bootstrap_field form.role placeholder='' %}</td>
                                <td>
                                    {% bootstrap_field form.mobile_phone  form_group_class='col-md-12' show_label=false placeholder='' %}
                                    {% bootstrap_field form.mobile_code %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12 mt-5">
                <h4><b>Central contact email for the Surgery <span class="red">*</span></b></h4>
                <p class="mb-4"><b>Please provide a central contact email for the Surgery, where all instructions and notifications will be sent (in addition to notification choices of the individual users)</b></p>
                <div class="row">
                    <div class="col-md-3"><b>Surgery email</b></div>
                    <div class="col-md-6">
                        {% bootstrap_field surgery_email_form.organisation_email placeholder='' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"><b>Confirm email</b></div>
                    <div class="col-md-6">
                        {% bootstrap_field surgery_email_form.confirm_email placeholder='' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"><b>Name of person completing this form</b></div>
                    <div class="col-md-4">
                        {% bootstrap_field bank_details_form.completed_by placeholder='' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"><b>Job title</b></div>
                    <div class="col-md-4">
                        {% bootstrap_field bank_details_form.job_title placeholder='' %}
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt">
                <div class="row">
                    <div class="col-md-1 text-center">
                        <input class="form-control-lg" type="checkbox" id="consentCheckBox">
                    </div>
                    <div class="col-md-10 p-0">
                        <label for="consentCheckBox">
                            I consent to MediData Exchange Ltd securely retaining this information and to be able to contact the Surgery about eMR via contact details provided.
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt">
                <div class="row">
                    <div class="col-md-2 mt-3">
                        {% bootstrap_button content='Submit' button_type='submit' size='medium' button_class='btn btn-primary'  %}
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-5">
                <span class="invisible">
                    <h4 class="mb-4"><b>Bank Details for Fee Payments</b></h4>
                     <div class="row">
                        <div class="col-md-3">Bank Account Name</div>
                        <div class="col-md-6">
                            {% bootstrap_field bank_details_form.bank_account_name placeholder='' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Bank Account Number</div>
                        <div class="col-md-4">
                            {% bootstrap_field bank_details_form.bank_account_number placeholder='' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Bank Account Sort Code</div>
                        <div class="col-md-4">
                            {% bootstrap_field bank_details_form.bank_account_sort_code placeholder='' %}
                        </div>
                    </div>
                    <h5>Your fee per medical report</h5>
                    <div class="row">
                        <div class="col-md-3"><b>Received within 3 days</b></div>
                        <div class="col-md-3">
                            {% bootstrap_field bank_details_form.received_within_3_days form_group_class='form-group input-group' placeholder='' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><b>Received within 4-6 days</b></div>
                        <div class="col-md-3">
                            {% bootstrap_field bank_details_form.received_within_4_to_6_days form_group_class='form-group input-group' placeholder='' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><b>Received within 7-10 days</b></div>
                        <div class="col-md-3">
                            {% bootstrap_field bank_details_form.received_within_7_to_10_days form_group_class='form-group input-group' placeholder='' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><b>Received after 10 days</b></div>
                        <div class="col-md-3">
                            {% bootstrap_field bank_details_form.received_after_10_days form_group_class='form-group input-group' placeholder='' %}
                        </div>
                    </div>
                </span>
            </div>
        </form>
    </div>
    <div class="modal fade" id="warningEmailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="warningEmailModalLabel">Warnning Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 class="text-center">This Email address already being used.</h5>
                    <h5 class="text-center">Please use another email.</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block Script %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/intlTelInput.min.js' %}"></script>
    <script>
    $(document).ready(function () {

        $('#min_fee_payments').on('change keyup', function () {
            $('#level_1_payments').val(($(this).val()*0.85).toFixed(2));
            $('#level_2_payments').val(($('#level_1_payments').val()*0.85).toFixed(2));
            $('#level_3_payments').val(($('#level_2_payments').val()*0.85).toFixed(2));
        });

        $('input[type=number]').each(function (idx, element) {
            $('<div class="input-group-prepend">\n' +
            '    <div class="input-group-text">\n' +
            '      <i class="fas fa-pound-sign"></i>\n' +
            '    </div>\n' +
            '  </div>').insertBefore(element);
        });

        $('#min_fee_payments').trigger('change');

        $(':input[type="submit"]').prop('disabled', true);
        $("#consentCheckBox").change(function() {
            if(this.checked) {
                $(':input[type="submit"]').prop('disabled', false);
            } else {
                $(':input[type="submit"]').prop('disabled', true);
            }
        });
        
        let email_list = [];
        $(".input-email").change(function () {
            let email_input_id = $(this).attr("id");
            $(".input-email").each(function () {
                if(email_input_id != $(this).attr("id")){
                    email_list.push($(this).val());
                }
            });
            if (email_list.indexOf($(this).val()) >= 0){
                email_list = [];
                $(this).val("");
                $("#warningEmailModal").modal();
            }
        });

        for(let i=0; i< $('tbody tr').length; i++){
            let phoneCode = '';
            let inputPhone = document.querySelector("#id_form-"+ i +"-mobile_phone");
            intlTelInput(inputPhone, {
              separateDialCode: true,
              initialCountry: "auto"
            });
            inputPhone.addEventListener("countrychange", function() {
              let code = $(this).parent().find('.selected-flag')[0].title.split(': ')[1];
              $(this).parent().find('.selected-dial-code').html(code);
              $('#id_form-'+ i +'-mobile_code').val($('#id_form-'+ i +'-mobile_phone').parent().find('.selected-flag')[0].title.split('+')[1]);
            });
            $.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
              let countryCode = (resp && resp.country) ? resp.country : "";
              countryCode = countryCode.toLocaleLowerCase();
              phoneCode = $('.country-list li[data-country-code=' + countryCode + ']').attr('data-dial-code');
              let telephoneCode = $('#id_form-'+ i +'-mobile_code').val();
              if(telephoneCode){
                countryCode = $('.country-list li[data-dial-code=' + telephoneCode + ']').attr('data-country-code');
                phoneCode = telephoneCode;
              }
              $('#id_form-'+ i +'-mobile_phone').parent().find('.intl-tel-input').addClass('iti-sdc-3');
              $('#id_form-'+ i +'-mobile_phone').parent().find('.selected-flag').attr('title', '+' + phoneCode);
              $('#id_form-'+ i +'-mobile_phone').parent().find('.selected-flag .iti-flag').addClass(countryCode);
              $('#id_form-'+ i +'-mobile_phone').parent().find('.selected-flag .selected-dial-code').html('+' + phoneCode);
              $('#id_form-'+ i +'-mobile_phone').addClass('mobile-phone-input');
            });
        }

        $('.intl-tel-input').css('display', 'block');
        $('.selected-flag').css('border-collapse', 'initial');
        $('.selected-flag').css('width', '85px');

        $('#OnboardingFinalSetupForm').submit( function () {
            for(let i=0; i< $('tbody tr').length; i++){
                if($('#id_form-'+ i +'-mobile_phone').val() == ''){
                    $('#id_form-'+ i +'-mobile_code').val('');
                }
            }
        })
    });
    </script>
{% endblock %}
