<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    Note: this is an automated email, please do not reply.
    <br/><br/>
    You have been set up to use eMR.
    <br>
    eMR will allow you to process SARs and insurance reports at the click of a button.
    <br/><br/>
    Your user login details are given below:
    <br/>
     Email: {{ user_email }}
    <br/>
    Password: {{ user_password }}
    <br/><br/>
    To assist you to use eMR, please log in and visit our Resource newCentre, which contains user guides and videos and which can be accessed in the left-hand menu bar on the landing page.
    <br/><br/>
    To login click <a href="{{ home_page_link }}">here</a>
    <br/><br/>
    Should require any assistance, please contact us using details below:
    <br/>
    eMR Support Team
    <br/>
    emr@medi2data.com
    <br/>
    03333 0 55774
</body>
</html>
