{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}



{% block ExtraHead %}
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/onboarding/sign_up.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/onboarding/emr_setup_final.css' %}" rel="stylesheet">
    <link href="{% static 'css/strongPass.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/intlTelInput.min.css' %}">
{% endblock %}

{% block Content %}
{% include 'onboarding/progress_bar_onboard.html' %}
    <form id="signup_form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="sign-up">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>eMR Set Up</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row subheader">
                        <div class="col-12">
                            <p>To be completed by an authorised member of the practice</p>
                            <p class="mb-0">You can use your Practice Code or Surgery name to search for your Surgery, but if any information is incorrect please feel free to overwrite with the correct details.</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <h5>Surgery details</h5>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos font-weight-bold">Practice Code <span class="red">*</span></div>
                                {% bootstrap_field surgery_form.practice_code show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Surgery Name <span class="red">*</span></div>
                                {% bootstrap_field surgery_form.surgery_name show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Postcode <span class="red">*</span></div>
                                {% bootstrap_field surgery_form.postcode show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Find Address</div>
                                {% bootstrap_field surgery_form.address show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Address Line 1 <span class="red">*</span></div>
                                {% bootstrap_field surgery_form.address_line1 show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Address Line 2</div>
                                {% bootstrap_field surgery_form.address_line2 show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Address Line 3</div>
                                {% bootstrap_field surgery_form.address_line3 show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">City <span class="red">*</span></div>
                                {% bootstrap_field surgery_form.city show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">County</div>
                                {% bootstrap_field surgery_form.county show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Contact Number <span class="red">*</span></div>
                                {% bootstrap_field surgery_form.contact_num show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="id_operating_system" class="col-form-label">Primary Care System<span class="red">*</span></label>
                                </div>
                                {% bootstrap_field surgery_form.operating_system show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">Clinical System Code<span class="red">*</span></div>
                                {% bootstrap_field surgery_form.emis_org_code show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Create your eMR Account</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row form-group">
                        <div class="col-12">
                            <h6>Please create your eMR account to continue your Surgery Registration</h6>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Title <span class="red">*</span></div>
                                {% bootstrap_field pm_form.title show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">First Name <span class="red">*</span></div>
                                {% bootstrap_field pm_form.first_name show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Surname <span class="red">*</span></div>
                                {% bootstrap_field pm_form.surname show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <p class="text-secondary">Your email address will be your username when you log into eMR.</p>
                            <div class="row" id="email_form">
                                <div class="col-md-4 title-pos">Email address <span class="red">*</span></div>
                                {% bootstrap_field pm_form.email1 show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                            <div id="email_error" class="offset-md-3"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Confirm email <span class="red">*</span></div>
                                {% bootstrap_field pm_form.email2 show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row" id="password_form">
                                <div class="col-md-4 title-pos">Choose password <span class="red">*</span></div>
                                <div class="col-md-8">
                                    <input type="password" name="password1" class="form-control" required id="id_password1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="progress offset-4 col-md-8 mt-1" style="background-clip: content-box">
                                    <div id="StrengthProgressBar" class="progress-bar progress-bar-success" style="width: 100%;">Very strong</div>
                                </div>
                            </div>
                            <div id="password_error" class="offset-md-3"></div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <span class="text-secondary">Password must be at least 8 characters long and must not contain common words or be related to your username.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Confirm password <span class="red">*</span></div>
                                {% bootstrap_field pm_form.password2 show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Mobile phone <span class="red">*</span></div>
                                {% bootstrap_field pm_form.telephone_mobile show_label=False form_group_class='col-md-7' placeholder='' %}
                                {% bootstrap_field pm_form.telephone_code %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-8">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input type="checkbox" class="accept-policy" name="accept_policy" id="accept-policy" disabled>
                                        Click  <a href="#" class="active-a" data-toggle="modal" data-target="#acceptTCs">here</a> to view and accept all T&amp;Cs, End User Licence and data policy.
                                        <p class="mt-2 ml-4 text-secondary">These will appear in a pop-up, so please make sure any pop-up blockers are disabled temporarily to enable this.</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input type="checkbox" id="consent" class="consent" name="consented">I consent to MediData Exchange contacting the surgery regarding our services.
                                </div>
                            </div>
                        </div>
                        <div class="offset-md-1 col-md-3">
                            <div class="row">
                                <button id="BtnSignUp" class="btn btn-primary btn-lg" type="submit" disabled>Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal fade pdf-modal" id="acceptTCs" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog policy-modal" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="col-12 text-center">
                            <embed src="{% static 'documents/MediTCs.pdf' %}" width="100%" height="450px" alt="pdf"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="goBack" type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Go back</button>
                    <button id="acceptPolicy" type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Accept</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade confirm-modal" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal-body">
                    The terms and conditions are not accepted. You can proceed but you will not be able to receive or initiate instructions until reviewed and accepted
                </p>
            </div>
            <div class="modal-footer">
                <button id="closeConfirm" type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Go back and review</button>
                <button id="proceed" type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Proceed</button>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block Script %}
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/intlTelInput.min.js' %}"></script>
    <script src="{% static 'js/intlTel.js' %}"></script>
    <script src="{% static 'js/onboarding/emr_signup.js' %}"></script>
    <script src="{% static 'js/axcvbn.min.js' %}"></script>
    <script src="{% static 'js/zxcvbn-bootstrap-strength-meter.js' %}" ></script>
    <script>
        $(document).ready(function () {
            $("#StrengthProgressBar").zxcvbnProgressBar({
                  passwordInput: "#id_password1",
                  ratings: ["Very Weak", "Weak", "OK", "Strong", "Very strong"]
            });

            init_select2_postcode(
                {% if selected_post_code %} ["{{ selected_post_code }}"] {% else %} [''] {% endif %}
            );
            init_select2_practice_code(
                {% if selected_practice_code %} ["{{ selected_practice_code }}"] {% else %} [''] {% endif %},
                "{% url 'organisations:sign_up_autocomplete' %}"
            );
            init_select2_surgery_name(
                {% if selected_surgery_name %} ["{{ selected_surgery_name }}"] {% else %} [''] {% endif %},
                "{% url 'organisations:sign_up_autocomplete' %}"
            );
            setUpTel('id_telephone_mobile', 'id_telephone_code');
            $('#id_emis_org_code').prop('required', true);
            $('#id_operating_system').change(function () {
                if($(this).val() != 'EMISWeb'){
                     $('#id_emis_org_code').prop('required', false);
                } else {
                    $('#id_emis_org_code').prop('required', true);
                }
            });

            let csrf_token = '{{ csrf_token }}';
            $('#acceptPolicy').click(function() {
              $('#accept-policy').attr("checked", true);
              $('#accept-policy').trigger('change');
            });
            $('#goBack').click(function() {
              $('#accept-policy').attr("checked", false);
              $('#accept-policy').trigger('change');
            });
            $('#signup_form').submit(function(event) {
                var $form = this;
                var match_error = false;
                if($('#id_email1').val() != $('#id_email2').val()) {
                    $('#email_error').text("Email doesn't match");
                    match_error = true;
                } else {
                    $('#email_error').text("");
                }
                if($('#id_password1').val() != $('#id_password2').val()) {
                    $('#password_error').text("Password doesn't match");
                    match_error = true;
                } else {
                    $('#password_error').text("");
                }
                if($('#id_password1').hasClass('is-invalid')){
                    match_error = true;
                }
                if(!match_error) {
                    $('#accept-policy').removeAttr("disabled");
                    if(!$('#accept-policy:checked').length) {
                        event.preventDefault();
                        $('#confirmModal').modal();
                        $('#proceed').click(function() {
                            $form.submit();
                        });
                    }
                } else {
                    event.preventDefault();
                }
            });


            $('#id_postcode').on('change', function () {
                var url = "{% url 'instructions:api_get_address' address='Address' %}".replace('Address', $(this).val());
                if($(this).val()){
                  $.ajax({
                      type: "GET",
                      processData: false,
                      url: url,
                      success: function (data) {
                          data.formattedObj = {};
                          var formattedData = data.addresses.map(function(item) {
                              var name = item.split(',').filter(function (s) {
                                  return s != ' ';
                              }).join(',');
                              data.formattedObj[name] = item;
                              return name;
                          });
                          $('#id_address').empty();
                          $('#id_address').select2({
                              data: formattedData
                           });
                          $('#id_address').on('select2:select', function (e) {
                              var selected = e.params.data;
                              var selectedData;

                              if(data.formattedObj[selected.text]) {
                                  selectedData = data.formattedObj[selected.text].split(',');
                              }else {
                                  selectedData = selected.text.split(',');
                              }
                              $('#id_address_line1').val(selectedData[0]);
                              $('#id_address_line2').val(selectedData[1]);
                              $('#id_address_line3').val(selectedData[2]);
                              $('#id_address_line4').val(selectedData[3]);
                              $('#id_city').val(selectedData[5]);
                              $('#id_county').val(selectedData[6]);
                              $('#id_address').val(selectedData.join(','));
                          });
                      }
                  })
               }
            });

            $('#id_password1').keyup(delay(function() {
                $.ajax({
                    url: "{% url 'accounts:verify_password' %}",
                    type: "POST",
                    dataType: "json",
                    data:{
                        "password": $(this).val(),
                        "first_name": $('#id_first_name').val(),
                        "surname": $('#id_surname').val(),
                        "email": $('#id_email1').val(),
                        "csrfmiddlewaretoken": csrf_token
                    },
                    success:function(data) {
                        $('#password_form').find('.invalid-feedback').remove();
                        $('#id_password1').removeClass("is-invalid");
                        if (!data.results.verified){
                            $('#id_password1').addClass("is-invalid");
                            data.results.warning.map(function(item){
                                $('#id_password1').after('<div class="invalid-feedback">' + item + '</div>');
                            });
                        }
                    }
                });
            }, 500));

            $('#id_email1').change(function() {
              $.ajax({
                  url: "{% url 'accounts:check_email' %}",
                  type: "POST",
                  dataType: "json",
                  data:{
                      "email": $(this).val() ,
                      "csrfmiddlewaretoken": csrf_token
                  },
                  success:function(data) {
                    $('#id_email1').removeClass("is-invalid");
                    $('#email_form').find('.invalid-feedback').remove();
                    if (data.exists){
                      $('#id_email1').addClass("is-invalid");
                      $('#id_email1').after('<div class="invalid-feedback">This email address has already been used to register.</div>');
                    }
                  }
              });
            });

            $('#id_practice_code').change(function () {
                $('#id_postcode').empty();
                $('#id_address').empty();
                $('#id_surgery_name').empty();
                init_select2_surgery_name(
                    [$('#signup_form').data('surgery-name')],
                    "{% url 'organisations:sign_up_autocomplete' %}"
                );

                init_select2_postcode([$('#id_postcode').data('post-code')]);
                if($('#id_postcode').data('post-code')){
                    $('#id_postcode').trigger('change');
                }
            });

            $('#accept-policy').change(function () {
               if($('#accept-policy').is(':checked') == true ){
                   $('#BtnSignUp').prop('disabled', false);
               } else {
                   $('#BtnSignUp').prop('disabled', true);
               }
            });

            $('#id_surgery_name').change(function () {
                $('#id_postcode').empty();
                $('#id_address').empty();
                $('#id_practice_code').empty();
                init_select2_practice_code(
                    [$('#signup_form').data('practice-code')],
                    "{% url 'organisations:sign_up_autocomplete' %}"
                );

                init_select2_postcode([$('#id_postcode').data('post-code')]);
                if($('#id_postcode').data('post-code')){
                    $('#id_postcode').trigger('change');
                }
            });
            $('#id_postcode').trigger('change');
            $(document).on({
                mouseover: function(){
                    $.ajax({
                        type: "GET",
                        url: "{% url 'organisations:get_gp_sign_up_data' %}",
                        data: {
                            'code': $(this).text(),
                            'name': $(this).text()
                        },
                        dataType: 'json',
                        success: function (data) {
                            if(data.name){
                                $('#signup_form').data('surgery-name', data.name);
                            } else {
                                $('#signup_form').data(
                                    'surgery-name',
                                    $('#select2-id_surgery_name-container').text()
                                );
                            }

                            if(data.code){
                                $('#signup_form').data('practice-code', data.code);
                            } else {
                                $('#signup_form').data(
                                    'practice-code',
                                    $('#select2-id_practice_code-container').text()
                                );
                            }

                            $('#id_address_line1').val(data.street);
                            $('#id_city').val(data.city);
                            $('#id_county').val(data.county);
                            $('#id_contact_num').val(data.phone_office);
                            $('#id_postcode').data('post-code', data.postcode);
                        }
                    });
                }
              },
              '#select2-id_surgery_name-results > .select2-results__option, #select2-id_practice_code-results > .select2-results__option'
            );
        });
    </script>
{% endblock %}
