{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}


{% block ExtraHead %}
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/strongPass.css' %}" rel="stylesheet">
    <link href="{% static 'css/onboarding/onboarding.css' %}" rel="stylesheet"/>
{% endblock %}

{% block Content %}
    <form id="step_form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="step1">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>About your surgery</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row subheader">
                        <div class="col-12">
                            <p>To be completed by an authorised member of the practice</p>
                            <p class="mb-0">You can use your Practice Code or Surgery name to search for your Surgery, but if any information is incorrect please feel free to overwrite with the correct details.</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <h5>Surgery details</h5>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row" id="practice_form">
                                <div class="col-md-4 title-pos font-weight-bold">Practice Code <span class="red">*</span></div>
                                {% bootstrap_field surgery_form.practice_code show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Surgery Name <span class="red">*</span></div>
                                {% bootstrap_field surgery_form.surgery_name show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Postcode <span class="red">*</span></div>
                                {% bootstrap_field surgery_form.postcode show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Find Address</div>
                                {% bootstrap_field surgery_form.address show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Address Line 1 <span class="red">*</span></div>
                                {% bootstrap_field surgery_form.address_line1 show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Address Line 2</div>
                                {% bootstrap_field surgery_form.address_line2 show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Address Line 3</div>
                                {% bootstrap_field surgery_form.address_line3 show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">City <span class="red">*</span></div>
                                {% bootstrap_field surgery_form.city show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">County</div>
                                {% bootstrap_field surgery_form.county show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 title-pos">Contact Number <span class="red">*</span></div>
                                {% bootstrap_field surgery_form.contact_num show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="id_operating_system" class="col-form-label">Primary Care System<span class="red">*</span></label>
                                </div>
                                {% bootstrap_field surgery_form.operating_system show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">Clinical System Code<span class="red">*</span></div>
                                {% bootstrap_field surgery_form.emis_org_code show_label=False form_group_class='col-md-7' placeholder='' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Central contact email for the Surgery <span class="red">*</span></h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row subheader form-group">
                        <div class="col-12">
                            <p>Please provide a central contact email for the Surgery, where all instructions and notifications will be sent (in addition to notification choices of the individual users)</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3"><b>Surgery email</b></div>
                        <div class="col-md-6">
                            {% bootstrap_field surgery_email_form.organisation_email placeholder='' %}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3"><b>Confirm email</b></div>
                        <div class="col-md-6">
                            {% bootstrap_field surgery_email_form.confirm_email placeholder='' %}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="checkbox" class="accept-policy" name="accept_policy" id="accept-policy" disabled>
                                Click  <a href="#" class="active-a" data-toggle="modal" data-target="#acceptTCs">here</a> to view and accept all T&amp;Cs, End User Licence and data policy.
                                <p class="mt-2 ml-4 text-secondary">These will appear in a pop-up, so please make sure any pop-up blockers are disabled temporarily to enable this.</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="checkbox" id="consent" class="consent" name="consented">I consent to MediData Exchange contacting the surgery regarding our services.
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input class="form-control-lg" type="checkbox" id="consentCheckBox">
                            <label for="consentCheckBox">
                                I consent to MediData Exchange Ltd securely retaining this information and to be able to contact the Surgery about eMR via contact details provided.
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-md-2 mt-3">
                                {% bootstrap_button content='Submit' button_type='submit' size='medium' button_class='btn btn-primary'  %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}