<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    Note: this is an automated email, please do not reply.
    <br><br>
    You have now successfully set yourself up as user in eMR.
    <br>
    You will soon be able to process SARs and insurance reports at a click of a button.
    <br><br>
    A confirmation email has also been sent to your surgery email box, using the email address provided.
    <br>
    To assist you to use eMR, please log in and visit our Resource Centre, which contains user guides and videos and
    which can be accessed in the left-hand menu bar on the landing page.
    <br><br>
    If you have any queries please contact us using the details below.
    <br><br>
    eMR Support Team
    <br>
    emr@medi2data.com
    <br>
    03333 0 55774
</body>
</html>
